.app-container {
  max-width: 1680px; /* max-w-7xl */
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 640px) {
  .app-container {
    padding: 0 1.5rem;
  }
}

@media (min-width: 1024px) {
  .app-container {
    padding: 0 2.5rem;
  }
}